/*
 * zeess (super creative name, i know)
 * a little boilerplate/tiny kinda framework thing
 * inspiration and cues from the work of jxnblk.com, mrmrs.io,
 * feint.me, and getskeleton.com
 * don't be a dick. dbad-license.org
 */

@charset  "utf-8";

/* A little reset… */
html,body{height:100%;width:100%;}
html,body,ul,ol,li,form,fieldset,legend{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,p{margin-top:0;}
fieldset,img{border:0;}
legend{color:#000;}
li{list-style: none; }
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
table{border-collapse:collapse;border-spacing:0;}
caption,th,td{text-align:left;vertical-align:top;font-weight:normal;}
input,textarea,select{font-size:110%;line-height:1.1;}
abbr,acronym{border-bottom:.1em dotted;cursor:help;}


/* …and then, some styling. */

/* classless (applies directly to elements) */

*,:before,:after {
  box-sizing: inherit;
  outline: 0 !important;
}

/* 1.5rem = 15px */
html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Merriweather", "Cardo", serif;
  color: #303330;
  background: #E3E3DE;
  padding: 4rem;
  max-width: 60rem;
  margin-left: 10rem;
}

/* Typography */
h1, h2, h3, h4, h5, h6 { margin-top: 2rem; margin-bottom: 1rem; font-weight: 400; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;  }
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem;  }
h3 { font-size: 3.2rem; line-height: 1.3;  letter-spacing: -.1rem;  }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.6rem; line-height: 1.6;  letter-spacing:   0;     }


/* Links */
a { -webkit-transition:color .4s;transition:color .4s;color: #265C83; }
a:link,a:visited { color: #265C83; }
a:hover { color: #7FDBFF; }
a:active { -webkit-transition:color .3s;transition:color .3s;color: #007BE6; }

/* Lists */
ul { list-style: circle inside; }
ul { padding-left: 1rem; margin-top: 0; }
ul ul { margin: 1.5rem 0 1.5rem 3rem; font-size: 80%; }
li { margin-bottom: 1rem; }

/* Spacing */
p { margin-top: 1rem; }
p,ul { margin-bottom: 2.5rem; }
img { float: left; margin: 0 1rem 1rem 0; }

/* hr is _very important_. */
hr {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  border-width: 0;
  border-top: 1px solid #EDC5E8; }


/* Media queries? Okay, fine… */
@media (max-width: 767px) {
  body { padding: 18px; }

  article {
    border-radius: 0;
    margin: -18px;
    padding: 18px;
  }

  textarea, input, select { max-width: 100%; }

  fieldset { min-width: 0; }

  section { width: auto; }

  fieldset,x:-moz-any-link { display: table-cell; }
}

@media (min-width: 550px) {
  h1 { font-size: 4.0rem; }
  h2 { font-size: 3.6rem; }
  h3 { font-size: 2.2rem; }
  h4 { font-size: 2.4rem; }
  h5 { font-size: 1.8rem; }
  h6 { font-size: 1.6rem; }
}


@media print {
  pre, blockquote {
    border: 1px solid #999 !important;
    page-break-inside: avoid !important;
  }

  tr, img { page-break-inside: avoid !important; }

  img { max-width: 100% !important; }

  @page { margin: .5cm !important; }

  p, h2, h3 {
    orphans: 3 !important;
    widows: 3 !important;
  }

  h2, h3 { page-break-after: avoid !important; }

  thead { display: table-header-group !important; }

  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    -webkit-filter: none !important;
    filter: none !important;
  }

  p a[href]:after { content: " (" attr(href) ")" !important; }

  p abbr[title]:after { content: " (" attr(title) ")" !important; }

  p a[href^="javascript:"]:after,p a[href^="#"]:after { content: "" !important; }

  p a, p abbr {
    word-wrap: break-word !important;
    text-decoration: underline !important;
  }
}


/* classes */

.link { text-decoration: none; }

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently */
}

/* For hiding things, but not from screen readers */
.a11y-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* <img src="foo.jpg" class="fade"> <p class="fade">asdf</p> */
.fade {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.fade:hover {
  opacity: 0.5;
}

/* tooltips! usage:
<ul>
<a href="javascript:void(0)" class="tooltip"><li>foo</li><span>stuff</span></a>
<a href="javascript:void(0)" class="tooltip"><li>bar</li><span>things</span></a>
</ul> */
.tooltip { outline: none; background: #333; color: #ddd; }
.tooltip strong { line-height: 0.8; }
.tooltip:hover { text-decoration: none; }
.tooltip span {
  z-index: 10;
  display: none;
  padding: .8em 1em;
  margin-top: -70px;
  margin-left: 28px;
  width: 40px;
  line-height: 1.2;
}
.tooltip:hover span {
  display: inline;
  position: absolute;
  color: #ddd;
  border: 1px solid #ccc;
  background: #313131;
}
.callout {
  z-index: 20;
  position: absolute;
  top: 30px;
  border: 0;
  left: -12px;
}
.tooltip span {
  border-radius: 4px;
  box-shadow: 2px 2px 4px #BBB;
}


/* Here down: put your project-specific styles */

